<html>
  <head>
        <title>Podbaby</title>
        <link rel="stylesheet" href="{{ .staticURL }}main.css">
        <style>
        body { padding-top: 80px; }
        .content-transition-appear {
            opacity: 0.01;
          }

        .content-transition-appear.example-appear-active {
            opacity: 1;
            transition: opacity .5s ease-in;
        }
        </style>
    </head>
  <body>
        <div id="app"></div>
    </body>
    <script>
    window.__ENV__ = "";
    window.csrfToken = "{{ .csrfToken }}";
    window.user = {{ .user }};
    </script>
    <script src="{{ .staticURL }}main.js"></script>


</html>
