<html>
  <head>
        <title>Podbaby</title>
        <link rel="stylesheet" href="{{ .dynamicContentURL }}main.css">
        <style>
        body { padding-top: 80px; }
        </style>
    </head>
  <body>
        <div id="app"></div>
    </body>
    <script>
    window.__ENV__ = "";
    window.csrfToken = "{{ .csrfToken }}";
    window.user = {{ .user }};
    </script>
    <script src="{{ .dynamicContentURL }}main.js"></script>


</html>
