<html>
  <head>
        <title>Podbaby</title>
        <link rel="stylesheet" href="{{ .dynamicContentURL }}main.css?{{ .timestamp }}">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico">
        <style>
        html, body { height: 100%; }
        body { padding-top: 80px; }
        @font-face {
            font-family: GoodDog;
            src: url("{{ .staticURL }}GoodDog.otf") format("opentype");
        }
        #app {
            min-height: 100%;
            height: auto !important;
            height: 100%;
        }
        #credits {
            height: 150px;
        }
        </style>
    </head>
    <body>
        <div id="app"></div>
      <footer id="credits">
          <div class="container text-center">
              <p class="text-muted credit">
              &copy; Dan Jacob 2016 <a href="https://github.com/danjac/podbaby">Github</a> <b>This site uses <a href="https://en.wikipedia.org/wiki/HTTP_cookie" target="_blank">cookies</a>.</b> Best viewed in freshest Chrome or Firefox.
              </p>
          </div>
      </footer>
    </body>
    <script>
    window.__DATA__ = {
        user: {{ .user }},
        csrfToken: "{{ .csrfToken }}",
        categories: {{ .categories }}
    };
    </script>
    <script src="{{ .dynamicContentURL }}main.js?{{ .timestamp }}"></script>
    {{ if ne .googleAnalyticsID "" }}
    <script async>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', '{{ .googleAnalyticsID }}', 'auto');
  ga('send', 'pageview');
  </script>
  {{ end }}


</html>
