Hi {{ .name }},

We've reset your password so you can sign back in again!

Here is your new temporary password:

{{ .tempPassword }}

You can login here with this email address or your username:

https://{{ .host }}/#/login/

Make sure to change your password as soon as possible!

Thanks,

PodBaby
